/***************************************************************************************/
/* Generic */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --primary-blue: #001db2;
  --primary-blue-very-dark: #000a3c;
  --primary-blue-light: #e5e5e5;
  --secondary-pink: #d94361;
  --secondary-yellow: #ffc107;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--primary-blue-light);
}

.primary-button,
.secondary-button {
  color: var(--primary-blue-very-dark);
  width: 60%;
  height: 80px;
  font-weight: 700;
  display: block;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin-top: 30px;
}

.primary-button {
  background-color: var(--secondary-yellow);
}

.secondary-button {
  background-color: var(--primary-blue-light);
}

.location-path-name {
  display: none;
}

/***************************************************************************************/
/* Navbar */
header {
  height: 175px;
  width: 100%;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar-logo {
  padding: 10px;
  height: 125px;
}

/***************************************************************************************/
/* LandingPage */
#LandingPage-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
}

#LandingPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Landing-logo {
  width: 50%;
}

#Landing-text {
  color: var(--primary-blue-light);
  font-weight: 500;
  font-size: 24px;
  max-width: 570px;
  text-align: center;
}

footer {
  color: var(--primary-blue-light);
  background-color: var(--primary-blue);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: var(--primary-blue-light);
  text-decoration: none;
}

/***************************************************************************************/
/* BeforeYouStartPage */

#beforeYouStart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#beforeYouStart-heading {
  font-size: 64px;
  text-align: center;
  padding-top: 1%;
}

#beforeYouStart-terms {
  font-size: 32px;
  font-weight: 500;
  padding-top: 1%;
  width: 55%;
}

#beforeYouStart-terms i {
  padding-right: 5%;
}
#beforeYouStart-terms p {
  padding-top: 2%;
  padding-bottom: 2%;
}

#agree-button {
  margin-top: 3%;
}

/***************************************************************************************/
/* SettingsPage */

/***************************************************************************************/
/* GamePage */
.timer {
  width: 100%;
  background-color: #c6c1c1;
  position: relative;
}

.remaining-time-line {
  position: absolute;
  width: 10%;
  background-color: var(--secondary-pink);
  color: var(--secondary-pink);
}

.remaining-time-text {
  text-align: right;
  padding-right: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1,
.player2 {
  width: 300px;
  border: 1px solid var(--primary-blue-very-dark);
  text-align: center;
  margin-top: 45px;
  margin-left: 5px;
  margin-right: 5px;
}

.active-player {
  border: 3px solid var(--primary-blue);
  filter: drop-shadow(0px 4px 4px #bfc7ee);
}

.question {
  text-align: center;
  margin-top: 5%;
  font-size: 32px;
}

.answers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.answer1,
.answer2,
.answer3,
.answer4 {
  cursor: pointer;
  width: 37.5%;
  height: 15vh;
  filter: drop-shadow(0px 4px 4px #bfc7ee);
  border-radius: 20px;
  margin: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer1,
.answer4 {
  background-color: var(--secondary-yellow);
}

.answer2,
.answer3 {
  background-color: var(--secondary-pink);
  color: var(--primary-blue-light);
}

/***************************************************************************************/
/* ResultsPage */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container h1 {
  font-size: 64px;
  margin: -5px;
}

#winners-crown {
  position: absolute;
}

#restartBtn {
  margin-bottom: 20px;
  width: 570px;
  height: 80px;
}

#results-container {
  display: flex;
}

#results-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
}

#results-container h2 {
  margin: -5px;
  margin-top: 5px;
}

.points-container {
  background-color: var(--primary-blue);
  height: 280px;
  color: var(--primary-blue-light);
  position: relative;
}

.points-container p {
  bottom: 0;
}

#winner-container {
  background-color: var(--secondary-yellow);
  margin: 50px;
}

#loser-container {
  background-color: var(--secondary-pink);
  margin: 50px;
  color: var(--primary-blue-light);
}

/***************************************************************************************/
/* RulesPage */
#rules-heading {
  font-size: 64px;
  font-weight: 700;
}

.btn-container {
  background-color: var(--primary-blue-light);
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#back-btn {
  margin-bottom: 20px;
}

#rules-list {
  font-size: 24px;
}

/***************************************************************************************/
/* NotFoundPage */
#error {
  text-align: center;
}

#drunkMan {
  float: left;
  margin-top: 100px;
  justify-content: center;
}

#error p {
  margin-top: 50px;
  font-size: 34px;
}

/***************************************************************************************/
/* RulesPage */
#RulesPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rules-heading {
  font-size: 64px;
  font-weight: 700;
}

/***************************************************************************************/
/* Responsive Styling */
@media screen and (min-width: 700px) {
  .responsive-para {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  /* Generic */
  body {
    margin: 0;
  }
  .primary-button,
  .secondary-button {
    width: 50%;
    height: 50px;
    font-size: 16px;
  }

  header {
    height: 10%;
    width: 100%;
  }

  .Navbar-logo {
    height: 65px;
  }

  /* Landing page */
  #Landing-text {
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
  }

  #Landing-logo {
    width: 80%;
  }

  footer {
    font-size: 12px;
  }

  /* RulesPage */
  #rules-heading {
    font-size: 32px;
    padding-top: 10px;
  }

  #back-btn {
    width: 50%;
    height: 50px;
  }

  #rules-list {
    font-size: 16px;
  }

  /* BeforeYouStartPage */
  #beforeYouStart-heading {
    font-size: 32px;
  }

  #beforeYouStart-terms {
    font-size: 18px;
  }

  /* GamePage */
  .game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .players {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player1,
  .player2 {
    width: 50%;
    border: 1px solid var(--primary-blue-very-dark);
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .active-player {
    border: 3px solid var(--primary-blue);
  }

  .question {
    text-align: center;
    margin-top: 60px;
    font-size: 16px;
  }

  .answers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .answer1,
  .answer2,
  .answer3,
  .answer4 {
    width: 32%;
    height: 15vh;
    filter: drop-shadow(0px 4px 4px #bfc7ee);
    border-radius: 20px;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Results page */
  .page-container h1 {
    font-size: 32px;
    margin-top: 10px;
  }

  .responsive-hidden-p {
    display: none;
  }

  #results-container {
    display: inline;
    margin-top: -40px;
  }

  #results-container img {
    display: none;
  }

  .points-container {
    height: 63px;
    display: flex;
  }

  .points-container p {
    margin: -1px;
  }

  #winner-container {
    margin-bottom: -20px;
  }

  #restartBtn {
    width: 50%;
  }
}
